@charset "UTF-8";



/*************************************/
/* ajax-upload-dragdrop */
.ajax-upload-dragdrop {border:1px dashed #999; color:#666; display:block; padding:15px 10px; background:#f5f5f5;}

.ajax-file-upload {font-family:inherit; font-size:14px; padding:0px 20px; line-height:28px; height:30px; margin:0 0 0 0; background:#fff; border:1px solid #666; color:#333; border-radius:2px;  box-shadow:none !important; margin-right:10px;}
.ajax-file-upload:hover {background:#333; color:#fff; box-shadow:none !important;}

.ajax-file-upload-container {margin:0px 0 0 0;}
.ajax-file-upload-statusbar {border:1px solid #318de7; margin-top:10px; width:100%; margin:0; border-radius:0px; padding:10px 10px 10px 10px; margin-top:10px;}

.ajax-file-upload-filename {width:auto; height:auto; margin:0 5px 5px 0px; font-weight:500;}
.ajax-file-upload-filesize {width:50px; height:auto; margin: 0 5px 5px 0px; display: inline-block; vertical-align:middle;}

.ajax-file-upload-progress {margin:5px 0px 5px 0px; position:relative; width:100%; border:1px solid #ddd; background:#f7f7f7; height:8px; padding:0px; border-radius:5px; display:block; color:#fff; overflow:hidden;}
.ajax-file-upload-bar	   {background-color:#0ba1b5; width:0; height:100%; border-radius:0px; color:#fff; }
.ajax-file-upload-percent  {display:none; position:absolute; display:inline-block; top:3px; left:48%;}

.ajax-file-upload-red,
.ajax-file-upload-green {box-shadow:none !important; border-radius:0px; color:#fff; font-family:inherit; font-size:13px; padding:4px 10px; text-shadow:none !important; margin:5px 0px 5px 0px;}
.ajax-file-upload-red	{background-color:#f54750;}
.ajax-file-upload-green {background-color:#333;}
.ajax-file-upload-error {display:block; color:#f54750;}
.state-hover{border:2px solid #A5A5C7;}

/*************************************/
/* tabulator  */
.tabulatorWrap {margin:0 0px; position:relative; overflow:;}

.tabulator {position:relative; background-color:transparent !important; overflow:hidden; font-size:13px; text-align:left; }
.tabulator .tabulator-header {width:100%; border-bottom:0px solid #999; background-color:transparent; color:#333;}
.tabulator .tabulator-header .tabulator-col {border-left:0px solid #ddd; border-right:0px solid rgba(0,0,0,0.08); border-top:1px solid #888; border-bottom:1px solid #888; background-color:#f5f6f7;}
.tabulator .tabulator-header .tabulator-col:last-child {border-right:0;}
.tabulator .tabulator-header .tabulator-col.tabulator-moving {border:1px solid #999;  background: #e6e6e6;}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {padding:8px 8px;}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {text-align:center;}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {border:1px solid #999; padding:1px; background:#fff;}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {top:11px; right:5px; border-left:4px solid transparent;  border-right:4px solid transparent;  border-bottom:5px solid #bbb;}

.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {border-top:0px solid #888;}
.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols .tabulator-col {border-bottom:0;}
.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols .tabulator-col:last-child {border-right:0;}
.tabulator .tabulator-header .tabulator-col.ui-sortable-helper {background-color:#e6e6e6 !important;  border:1px solid #888;}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter {margin-top:4px;}
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input[type="search"],
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input[type="text"],
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter select {border:1px solid #ccc; background:#fff; height:24px; line-height:24px; padding:0 5px; font-weight:normal;}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {padding-right:8px;}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {background-color: #e6e6e6;}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-arrow {border-top:none;  border-bottom:5px solid #ccc;}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-arrow {border-top:none;  border-bottom:5px solid #2a7cdd ;}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-arrow {border-top:5px solid #2a7cdd;  border-bottom: none;}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {border-right:2px solid #888;}
.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-right {border-left:2px solid #888;}

.tabulator .tabulator-header .tabulator-calcs-holder {background:#f2f2f2 !important;  border-top:1px solid #888;  border-bottom:1px solid #999;}
.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row {background:#f2f2f2 !important;}

.tabulator .tabulator-tableHolder {}
.tabulator .tabulator-tableHolder::-webkit-scrollbar {width:10px; height:10px;}
.tabulator .tabulator-tableHolder .tabulator-placeholder span {padding:10px;  color:#000;  font-weight:bold;  font-size:20px;}

.tabulator .tabulator-tableHolder .tabulator-table {display:inline-block;  background-color:#fff;  overflow:visible;  color:#333;}

.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs {font-weight:bold;  background: #f2f2f2 !important;}
.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-top {border-bottom: 2px solid #888;}
.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-bottom {border-top: 2px solid #888;}

.tabulator .tabulator-row {min-height:34px;  background-color:#fff;  border-bottom:1px solid #ccc;}

.tabulator .tabulator-row:nth-child(even) {background-color:#fff;}
.tabulator .tabulator-row.tabulator-selectable:hover {background-color:#ddd; }

.tabulator .tabulator-row.tabulator-selected {background-color:#9ABCEA;}
.tabulator .tabulator-row.tabulator-selected:hover {background-color:#769BCC; }

.tabulator .tabulator-row.tabulator-moving {border-top:1px solid #ccc;  border-bottom: 1px solid #ccc;}
.tabulator .tabulator-row .tabulator-frozen.tabulator-frozen-left {border-right: 2px solid #888;}
.tabulator .tabulator-row .tabulator-frozen.tabulator-frozen-right {border-left: 2px solid #888;}

.tabulator .tabulator-row .tabulator-cell {display:inline-block;  padding:8px 8px;  border-right:0px solid #ccc;  vertical-align:middle;  color:#000; font-size:13px;}

.tabulator .tabulator-row .tabulator-cell:last-of-type {border-right:none;}
.tabulator .tabulator-row .tabulator-cell.tabulator-editing {border:1px solid #1D68CD;  padding: 0;}

.tabulator .tabulator-row .tabulator-cell.tabulator-editing input, 
.tabulator .tabulator-row .tabulator-cell.tabulator-editing select {border:1px; background:transparent;}

.tabulator .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-bar {width:80%; height:3px; margin:2px 10% 0 10%; background:#666;}

.tabulator .tabulator-row.tabulator-group {border-bottom:1px solid #999; border-right:1px solid #ccc; border-top:1px solid #999; padding:5px; padding-left:10px; background:#fafafa;}

.tabulator .tabulator-row.tabulator-group:hover {background-color: rgba(0, 0, 0, 0.1);}
.tabulator .tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {margin-right:10px;  border-left:4px solid transparent; border-right:4px solid transparent; border-top:5px solid #666; border-bottom:0;}

.tabulator .tabulator-row.tabulator-group.tabulator-group-level-1 .tabulator-arrow {margin-left:20px;}
.tabulator .tabulator-row.tabulator-group.tabulator-group-level-2 .tabulator-arrow {margin-left:40px;}
.tabulator .tabulator-row.tabulator-group.tabulator-group-level-3 .tabulator-arrow {margin-left:60px;}
.tabulator .tabulator-row.tabulator-group.tabulator-group-level-4 .tabulator-arrow {margin-left:80px;}
.tabulator .tabulator-row.tabulator-group.tabulator-group-level-5 .tabulator-arrow {margin-left:1000px;}

.tabulator .tabulator-row.tabulator-group .tabulator-arrow {margin-right:16px; border-top:5px solid transparent; border-bottom:5px solid transparent; border-right:0; border-left:4px solid #666;}

.tabulator .tabulator-row.tabulator-group span {margin-left:10px; color:#666;}

.tabulator .tabulator-footer {padding:5px 10px;  border-top:1px solid #999; background-color:#fff;  text-align:right;  color:#555;  font-weight:bold;}

.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {background:#f2f2f2 !important;}
.tabulator .tabulator-footer .tabulator-calcs-holder:only-child {margin-bottom:-5px;  border-bottom:none;}

.tabulator .tablulator-loader {background: rgba(0, 0, 0, 0.4); }

.tabulator .tablulator-loader .tabulator-loader-msg {padding:10px 20px;  border-radius:2px;  background:#fff;  font-weight:500;  font-size:16px;}
.tabulator .tablulator-loader .tabulator-loader-msg.tabulator-loading {border:1px solid #333;  color: #000;}
.tabulator .tablulator-loader .tabulator-loader-msg.tabulator-error   {border:1px solid #D00;  color: #590000;}





table tr.contentViewBox {display:none;}
table tr.contentViewBox td {padding:0; position:relative; border-bottom:0;}
table tr.contentViewBox td:before {display:block; content:''; width:0px; height:0px; position:absolute; top:-5px; left:100px; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:5px solid #aaa;}
/*table tr.contentViewBox td .contentBox {border:1px solid #ccc; border-top:0; text-align:left; background:#f1f1f1; padding:20px 30px; overflow:auto; max-height:300px; position:relative; line-height:1.6em; color:#000;}*/
table tr.contentViewBox td .contentBox {border:1px solid #ccc; border-top:0; text-align:left; background:#f1f1f1; padding:20px 30px; overflow:auto; max-height:600px; position:relative; line-height:1.6em; color:#000;}
table tr.contentViewBox td .contentBox img,
table tr.contentViewBox td .contentBox input,
table tr.contentViewBox td .contentBox select {max-width:100%;}

.tableFilter {display:inline-block;}
.tableFilter:after {display:block; content:''; height:0; line-height:0; clear:both;}
.tableFilter select.inp,
.tableFilter input.inp{height:28px; line-height:28px;}
.tableFilter .tableFilterBtn {display:inline-block; width:28px; height:28px; line-height:28px; color:#fff; background:#318de7; text-align:center; vertical-align:middle;}
.tableFilter .tableFilterBtn:before {
	font-family: 'AMB-iconfont' !important; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	display:block; width:100%; height:100%; font-size:14px; line-height:inherit;
	content:'\e919';
}

.fileIcon {display:inline-block; border:0px solid #fff; background:; width:20px; height:20px; line-height:20px; text-align:center; vertical-align:middle; margin:-2px 2px;}
.fileIcon:before {
	font-family: 'AMB-iconfont' !important; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	display:block; width:100%; height:100%; color:#000; font-size:15px; line-height:20px;
	content:'\e957';
}

form {padding:10px 10px 10px 10px;}
.divMT {margin-top:10px;}
.divMB {margin-bottom:10px;}
.divMR {margin-right:10px;}
#datepicker .input-group-text {border-radius: 0em;}

.input-group-prepend input[type=text] {height:32px;}
.input-group-prepend .input-group-text {height:32px;}

textarea:focus, 
textarea.form-control:focus, 
select:focus, 
select.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 0px 0 #ddd;
}
