<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.calendarMapper">
	
	<insert id="insertCalendarEvents" parameterType="map">
		<choose>
		<when test="cate == 'C05'">
			<choose>
			<when test='isDesigner == "Y"'>
		insert into [동림].[dbo].[디자인일정](제목, 시작일, 종료일, 작업요청자, 카테고리월, 작업내용, 수정이전시작일, 수정이전종료일)
		values
		<foreach collection="list" item="event" separator=" , ">
		(#{event.title}, #{event.start}, #{event.end}, #{event.sawonCode}, #{event.cateMonth}, #{event.description}, #{event.start}, #{event.end})
		</foreach>	
			</when>
			<otherwise>
		insert into [동림].[dbo].[디자인일정](제목, 시작일, 종료일, 작업요청자, 카테고리월, 작업내용, 수정이전시작일, 수정이전종료일)
		values
		<foreach collection="list" item="event" separator=" , ">
		(#{event.title}, #{event.start}, #{event.end}, #{code}, #{event.cateMonth}, #{event.description}, #{event.start}, #{event.end})
		</foreach>
			</otherwise>
			</choose>
		</when>
		<otherwise>
		insert into [동림].[dbo].[캘린더](카테고리코드, 제목, 시작일, 종료일, 사원코드, 카테고리월, 상세)
		values
		<foreach collection="list" item="event" separator=" , ">
		(#{event.cate}, #{event.title}, #{event.start}, #{event.end}, #{code}, #{event.cateMonth}, #{event.description})
		</foreach>
		</otherwise>
		</choose>
	</insert> 
	
	<resultMap id="RM_CalendarData" type="CalendarEvent">
		<result column="일련번호"		property="id"	javaType="string"/>
		<result column="제목"			property="title"	javaType="string"/>
		<result column="시작일"		property="start"	javaType="string"/>
		<result column="종료일"		property="end"	javaType="string"/>
		<result column="카테고리월"	property="cateMonth"	javaType="string"/>
		<result column="카테고리코드"	property="cate"	javaType="string"/>
		<result column="상세"			property="description"	javaType="string"/>
		<result column="글자색"		property="txtColor"	javaType="string"/>
		<result column="바탕색"		property="bgColor"	javaType="string"/>
		<result column="테두리색"		property="borderColor"	javaType="string"/>
		<result column="비고"			property="bigo"		javaType="string"/>
		<result column="결재완료"		property="confirm"		javaType="string"/>
		<result column="myevent"	property="mine"	javaType="string"/>
		<result column="사원코드"		property="sawonCode" javaType="string"/>
	</resultMap>
	
	<resultMap id="RM_CalendarCate" type="CalendarCategory">
		<result column="코드"			property="code"			javaType="string"/>
		<result column="카테고리명"		property="name"			javaType="string"/>
		<result column="바탕색"		property="color"		javaType="string"/>
		<result column="글자색"		property="textColor"	javaType="string"/>
	</resultMap>
	
	<select id="selectCompanyEventsList" statementType="CALLABLE" resultType="map">
		{call [동림].[dbo].[UP_회사일정목록]}
	</select>
	<select id="selectCalendarDataList" parameterType="map" resultMap="RM_CalendarData">
		<choose>
		<when test="cate == 'C01'">
		{call [동림].[dbo].[UP_근태현황](
			#{sawonCode, mode=IN, jdbcType=INTEGER, javaType=int},
			#{startDate, mode=IN, jdbcType=CHAR, javaType=string},
			#{endDate, mode=IN, jdbcType=CHAR, javaType=string}
		)}
		</when>
		<when test="cate == 'C04'">
		<!-- select 제목, 시작일, 종료일, 카테고리월, 카테고리코드, 일련번호, 상세, 'N' myevent,
			   '#996600' 바탕색,
			   '#ffffff' 글자색,
			   '#996600' 테두리색
		  from [동림].[dbo].[캘린더] T1
		 where 카테고리코드 = 'C04' 
		   and ((시작일 >= #{startDate} and 시작일 <![CDATA[<]]> #{endDate})
		    or 상시표시 = 'Y')-->
		select 제목, 
		       case when 상시표시 = 'Y' then concat(year(#{startDate}), '-', substring(시작일, 6, 5))
			        else 시작일
			   end 시작일,
			   case when 상시표시 = 'Y' then concat(year(#{startDate}) +  year(종료일)-year(시작일), '-', substring(종료일, 6, 5))                      
				    else 종료일
			   end 종료일,
			       카테고리월, 카테고리코드, 일련번호, 상세, 'N' myevent,
			   '#996600' 바탕색,
			   '#ffffff' 글자색,
			   '#996600' 테두리색
		  from [동림].[dbo].[캘린더] T1
		 where 카테고리코드 = 'C04' 
		   and ((시작일 >= #{startDate} and 시작일 <![CDATA[<]]> #{endDate})
		    or 상시표시 = 'Y') 
		</when>
		<when test="cate == 'C05'">
		select concat('[', T2.사원명, ']_', 제목) 제목, 시작일, 종료일, 카테고리월, 'C05' as 카테고리코드, 일련번호, 작업내용 as 상세,
			   case when T1.작업요청자 = #{sawonCode} then 'Y'
			   		else 'N'
			   end as myevent,
			   T1.작업요청자  as 사원코드, 
			   isnull(T3.바탕색, '#996600') as 바탕색,
			   isnull(T3.글자색, '#ffffff') as 글자색,
			   isnull(T3.테두리색, '#996600') as 테두리색
		  from [동림].[dbo].[디자인일정] T1
		 inner join [동림].[dbo].[사원] T2
		    on T1.작업요청자 = T2.사원코드
		  left outer join [동림].[dbo].[팀] T3
		    on T2.팀코드 = T3.팀코드
		 where 시작일 >= #{startDate} and 시작일 <![CDATA[<]]> #{endDate}
		</when>
		<otherwise>
<!-- 		select concat(T2.사원명, '(', T2.사원아이디, ')_', 제목) 제목, 시작일, 종료일, 카테고리월, 카테고리코드, 일련번호, 상세, -->
		select concat('[', T2.사원명, ']_', 제목) 제목, 시작일, 종료일, 카테고리월, 카테고리코드, 일련번호, 상세,
			   case when T1.사원코드 = #{sawonCode} then 'Y'
			   		else 'N'
			   end as myevent,
			   case when T1.결재완료 = 'Y' then 'Y'
			        else 'N'
			   end as 결재완료,
			   isnull(T3.바탕색, '#996600') as 바탕색,
			   isnull(T3.글자색, '#ffffff') as 글자색,
			   isnull(T3.테두리색, '#996600') as 테두리색
		  from [동림].[dbo].[캘린더] T1
		 inner join [동림].[dbo].[사원] T2
		    on T1.사원코드 = T2.사원코드
		  left outer join [동림].[dbo].[팀] T3
		    on T2.팀코드 = T3.팀코드
		 where 시작일 >= #{startDate} and 시작일 <![CDATA[<]]> #{endDate}
		   and 카테고리코드 = #{cate}
		</otherwise>
		</choose>
	</select>
	
	<select id="selectCalendarCategory" resultMap="RM_CalendarCate">
		select 코드, 카테고리명, 바탕색, 글자색
		  from [동림].[dbo].[캘린더카테고리]
	</select>
	
	<update id="updateCalendarEvents" parameterType="map">
		<choose>
		<when test="cate == 'C05'">
		<foreach collection="list" item="event" separator=";">
		update [동림].[dbo].[디자인일정]
		   set 수정이전시작일 = 시작일,
		   	        수정이전종료일 = 종료일,
		   	        수정횟수 = 수정횟수 + 1,
		   	        시작일 = #{event.start},
		   	        종료일 = #{event.end},
		   	        제목 = #{event.title},
		   	        작업요청자 = #{event.sawonCode},
		   	        수정자 = #{code},
		   	        작업내용 = #{event.description}
		 where 일련번호 = #{event.id}
		 <if test='isDesigner == "N"'>
		   and 작업요청자 = #{code}
		 </if>
		</foreach>	
		</when>
		<otherwise>
		<foreach collection="list" item="event" separator=";">
		update [동림].[dbo].[캘린더]
		   set 시작일 = #{event.start},
		   	       종료일 = #{event.end},
		   	       제목 = #{event.title},
		   	       상세 = #{event.description}
		 where 일련번호 = #{event.id}
		   and 사원코드 = #{code}
		   and 카테고리코드 = #{cate}
		</foreach>	
		</otherwise>
		</choose>
	</update>
	
	<delete id="deleteCalendarEvents" parameterType="map">
		<choose>
		<when test="cate == 'C05'">
			<choose>
			<when test='isDesigner == "Y"'>
		delete 
		  from [동림].[dbo].[디자인일정]
		 where 일련번호 in 
		<foreach collection="list" item="event" open="(" close=")" separator=",">
		 #{event.id}		  
		</foreach>
			</when>
			<otherwise>
		delete 
		  from [동림].[dbo].[디자인일정]
		 where 일련번호 in 
		<foreach collection="list" item="event" open="(" close=")" separator=",">
		 #{event.id}		  
		</foreach>
		   and 작업요청자 = #{code}
			</otherwise>
			</choose>
		</when>
		<otherwise>
		delete 
		  from [동림].[dbo].[캘린더]
		 where 일련번호 in 
		<foreach collection="list" item="event" open="(" close=")" separator=",">
		 #{event.id}		  
		</foreach>
		   and 사원코드 = #{code}
		   and 카테고리코드 = #{cate}
		</otherwise>
		</choose>
	</delete>
	
	<insert id="insertConferenceReservation" parameterType="ConferenceReservation">
		insert into [동림].[dbo].[회의실예약] (회의제목, 시작시간_FULL, 종료시간_FULL, 회의년도, 시작시간, 종료시간, 예약자_사원코드)
		values (
			#{title},
			#{startTimeFull}, 
			#{endTimeFull}, 
			#{ymd}, 
			#{startTime}, 
			#{endTime}, 
			#{reservationSawonCode}
		)
		<selectKey keyProperty="reserveNum" resultType="String" order="AFTER">
        	SELECT IDENT_CURRENT('[동림].[dbo].[회의실예약]')
    	</selectKey>
	</insert>
	
	<select id="selectInReservation" parameterType="ConferenceReservation" resultType="int">
		select count(*)
		  from [동림].[dbo].[회의실예약]
		 where 회의년도 = #{ymd}
		   and ((시작시간_FULL >= #{startTimeFull} and 시작시간_FULL <![CDATA[<]]> #{endTimeFull})
		    or (종료시간_FULL > #{startTimeFull} and 종료시간_FULL <![CDATA[<=]]> #{endTimeFull}))
		<if test="reserveNum != null">
		   and 예약번호 != #{reserveNum}
		</if>
	</select>
	
	<select id="selectConferenceReservationList" parameterType="string"  resultType="map">
		select 예약번호 as rnum,
			      회의제목 as title,
			   concat(회의년도, 'T', 시작시간) as [start],
			   concat(회의년도, 'T', 종료시간) as [end],
			   T2.사원명 as reserver,
			   case when #{sawonCode} = 예약자_사원코드 then 'Y'
			   		else 'N'
			   end as mine
		 from  [동림].[dbo].[회의실예약] T1
		inner join [동림].[dbo].[사원] T2 on T1.예약자_사원코드 = T2.사원코드
		where 회의년도 = #{reserveDate}
	</select>
	
	<select id="selectTodayConferenceReservationCount" resultType="string">
		select count(예약번호)
		  from [동림].[dbo].[회의실예약]
		 where 회의년도 = CONVERT(CHAR(10),GETDATE(),23)
	</select>
	
	<update id="updateConferenceReservation" parameterType="ConferenceReservation">
		update [동림].[dbo].[회의실예약]
		   set 회의제목 = #{title},
		   	      시작시간_FULL = #{startTimeFull},
		   	      종료시간_FULL = #{endTimeFull},
		   	      시작시간 = #{startTime},
		   	      종료시간 = #{endTime}
		 where 예약번호 = #{reserveNum}    
	</update>
	
	<delete id="deleteReserveConference" parameterType="ConferenceReservation">
		delete from [동림].[dbo].[회의실예약] where 예약번호 = #{reserveNum} and 예약자_사원코드 = #{reservationSawonCode}
	</delete>
	
	<select id="selectPlanContent" parameterType="map" resultType="map">
		  select 상세 detail, 사원명 sawonName
    		from [동림].[dbo].[캘린더] T1
   		   inner join [동림].[dbo].[사원] T2 
   		   	  on T1.사원코드 = T2.사원코드
   		   where 일련번호 = #{planCode}
     		 and T2.부서코드 = #{department} 
	</select>
	
	<select id="selectPlanContentInDayAll" parameterType="map" resultType="map">
		 select 상세 detail, 사원명 sawonName, 제목 title
    	   from [동림].[dbo].[캘린더] T1
		  inner join (
				 select 시작일, 사원코드
     			   from [동림].[dbo].[캘린더]
     		      where 일련번호 = #{planCode}
		  ) T2
		  on T1.사원코드 = T2.사원코드 and T1.시작일 = T2.시작일
   		  inner join [동림].[dbo].[사원] T3 
   		  on T1.사원코드 = T3.사원코드
   		  where T3.부서코드 = #{department} 
	</select>
	
	<select id="selectMyPlanThisMonthMobile" parameterType="map" resultType="map">
    <![CDATA[select 시작일  [begin], 종료일 [end], concat(제목, '<br/>', 상세) summary, 일련번호 num]]>
    	   from [동림].[dbo].[캘린더] T1
    	  where 카테고리코드 = 'C03'
    	    and 사원코드 = #{sawonCode}
    	   <choose>
    	   <when test="date == null">
    	    and 카테고리월 = convert(char(7), getDate(), 21)
    	   </when>
    	   <otherwise>
    	    and 카테고리월 = #{date}
    	   </otherwise>
    	   </choose>
    	   order by 시작일
	</select>
	
	<insert id="insertMyPlanByMobile" parameterType="map">
		insert into [동림].[dbo].[캘린더] (제목, 시작일, 사원코드, 카테고리월, 카테고리코드, 종료일, 상세)
		values (#{title}, #{begin}, #{sawonCode}, #{cateMonth}, #{cate}, #{end}, #{detail})
	</insert>
	
	<delete id="deleteMyPlanByMobile" parameterType="map">
		delete 
		  from [동림].[dbo].[캘린더]
		 where 카테고리코드 = 'C03'
		   and 사원코드 = #{sawonCode}
		   and 일련번호 = #{num}
	</delete>
	
	<select id="selectHolidayFlexibleList" parameterType="string" resultType="Holiday">
		select 이름 bgTitle, 시작일 [start], 종료일 [end]
		  from [동림].[dbo].[holiday]
		 where 해당년도 = #{year}
	</select>
</mapper>
