<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.calendarMapper">
	
	<insert id="insertCalendarEvents" parameterType="map">
		insert into [동림].[dbo].[캘린더](카테고리코드, 제목, 시작일, 종료일, 사원코드, 카테고리월, 상세)
		values
		<foreach collection="list" item="event" separator=" , ">
		(#{event.cate}, #{event.title}, #{event.start}, #{event.end}, #{code}, #{event.cateMonth}, #{event.description})
		</foreach>
	</insert> 
	
	<resultMap id="RM_CalendarData" type="CalendarEvent">
		<result column="일련번호"		property="id"	javaType="string"/>
		<result column="제목"			property="title"	javaType="string"/>
		<result column="시작일"		property="start"	javaType="string"/>
		<result column="종료일"		property="end"	javaType="string"/>
		<result column="카테고리월"	property="cateMonth"	javaType="string"/>
		<result column="카테고리코드"	property="cate"	javaType="string"/>
		<result column="상세"			property="description"	javaType="string"/>
		<result column="글자색"		property="txtColor"	javaType="string"/>
		<result column="바탕색"		property="bgColor"	javaType="string"/>
		<result column="myevent"	property="mine"	javaType="string"/>
	</resultMap>
	
	<resultMap id="RM_CalendarCate" type="CalendarCategory">
		<result column="코드"			property="code"			javaType="string"/>
		<result column="카테고리명"		property="name"			javaType="string"/>
		<result column="바탕색"		property="color"		javaType="string"/>
		<result column="글자색"		property="textColor"	javaType="string"/>
	</resultMap>
	
	<select id="selectCalendarDataList" parameterType="map" resultMap="RM_CalendarData">
		select concat(T2.사원명, '(', T2.사원아이디, ')_', 제목) 제목, 시작일, 종료일, 카테고리월, 카테고리코드, 일련번호, 상세,
			   case when T1.사원코드 = #{sawonCode} then 'Y'
			   		else 'N'
			   end as myevent,
			   isnull(T3.바탕색, '#000000') as 바탕색,
			   isnull(T3.글자색, '#ffffff') as 글자색 
		  from [동림].[dbo].[캘린더] T1
		 inner join [동림].[dbo].[사원] T2
		    on T1.사원코드 = T2.사원코드
		  left outer join [동림].[dbo].[팀] T3
		    on T2.팀코드 = T3.팀코드
		 where 시작일 >= #{startDate} and 시작일 <![CDATA[<]]> #{endDate}
		   and 카테고리코드 = #{cate}
	</select>
	
	<select id="selectCalendarCategory" resultMap="RM_CalendarCate">
		select 코드, 카테고리명, 바탕색, 글자색
		  from [동림].[dbo].[캘린더카테고리]
	</select>
	
	<update id="updateCalendarEvents" parameterType="map">
		<foreach collection="list" item="event" separator=";">
		update [동림].[dbo].[캘린더]
		   set 시작일 = #{event.start},
		   	       종료일 = #{event.end},
		   	       제목 = #{event.title}
		 where 일련번호 = #{event.id}
		</foreach>	
	</update>
	
	<delete id="deleteCalendarEvents" parameterType="map">
		delete 
		  from [동림].[dbo].[캘린더]
		 where 일련번호 in 
		<foreach collection="list" item="event" open="(" close=")" separator=",">
		 #{event.id}		  
		</foreach>
	</delete>
	
	<insert id="insertConferenceReservation" parameterType="ConferenceReservation">
		insert into [동림].[dbo].[회의실예약] (회의제목, 시작시간_FULL, 종료시간_FULL, 회의년도, 시작시간, 종료시간, 예약자_사원코드)
		values (
			#{title},
			#{startTimeFull}, 
			#{endTimeFull}, 
			#{ymd}, 
			#{startTime}, 
			#{endTime}, 
			#{reservationSawonCode}
		)
		<selectKey keyProperty="reserveNum" resultType="String" order="AFTER">
        	SELECT IDENT_CURRENT('[동림].[dbo].[회의실예약]')
    	</selectKey>
	</insert>
	
	<select id="selectInReservation" parameterType="ConferenceReservation" resultType="int">
		select count(*)
		  from [동림].[dbo].[회의실예약]
		 where 회의년도 = #{ymd}
		   and ((시작시간_FULL >= #{startTimeFull} and 시작시간_FULL <![CDATA[<]]> #{endTimeFull})
		    or (종료시간_FULL > #{startTimeFull} and 종료시간_FULL <![CDATA[<=]]> #{endTimeFull}))
		<if test="reserveNum != null">
		   and 예약번호 != #{reserveNum}
		</if>
	</select>
	
	<select id="selectConferenceReservationList" parameterType="string"  resultType="map">
		select 예약번호 as rnum,
			      회의제목 as title,
			   concat(회의년도, 'T', 시작시간) as [start],
			   concat(회의년도, 'T', 종료시간) as [end],
			   T2.사원명 as reserver,
			   case when #{sawonCode} = 예약자_사원코드 then 'Y'
			   		else 'N'
			   end as mine
		 from  [동림].[dbo].[회의실예약] T1
		inner join [동림].[dbo].[사원] T2 on T1.예약자_사원코드 = T2.사원코드
		where 회의년도 = #{reserveDate}
	</select>
	
	<update id="updateConferenceReservation" parameterType="ConferenceReservation">
		update [동림].[dbo].[회의실예약]
		   set 회의제목 = #{title},
		   	      시작시간_FULL = #{startTimeFull},
		   	      종료시간_FULL = #{endTimeFull},
		   	      시작시간 = #{startTime},
		   	      종료시간 = #{endTime}
		 where 예약번호 = #{reserveNum}    
	</update>
	
	<delete id="deleteReserveConference" parameterType="ConferenceReservation">
		delete from [동림].[dbo].[회의실예약] where 예약번호 = #{reserveNum} and 예약자_사원코드 = #{reservationSawonCode}
	</delete>
</mapper>
