<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.projectMapper">
	<insert id="insertNewWBS" parameterType="map">
		insert into [동림].[dbo].[WBS] (이름, DEFAULT_DAY, 작성자, 공유범위, resources, [events])
		values (#{title}, #{start}, #{writer}, #{range}, #{resources}, #{events})
	</insert>
	
	<resultMap id="RM_selectListWBS" type="ExtjsStoreVO" >
		<result column="글수" property="total" javaType="int"/>
		<result column="사원코드" property="sawonCode" javaType="string"/>
		<result column="작성자" property="writer" javaType="string"/>
		<result column="내팀코드" property="myTeamCode" javaType="string"/>
		<result column="내부서코드" property="myDepartmentCode" javaType="string"/>
		<result column="공유범위" property="range" javaType="string"/>
		<result column="WBS이름" property="wbsName" javaType="string"/>
		<result column="시작" property="start" javaType="int" />
		<result column="끝" property="limit" javaType="int" />
		<collection property="datas" column="{start=시작, limit=끝, sawonCode=사원코드, myTeamCode=내팀코드, myDepartmentCode=내부서코드, range=공유범위, writer=작성자, wbsName=WBS이름}" 
					javaType="java.util.ArrayList"
					ofType="WBS" 
					select="selectWBS" />
	</resultMap>
	
	<resultMap id="RM_selectListMyWBS" type="ExtjsStoreVO" >
		<result column="글수" property="total" javaType="int"/>
		<result column="사원코드" property="sawonCode" javaType="string"/>
		<result column="공유범위" property="range" javaType="string"/>
		<result column="WBS이름" property="wbsName" javaType="string"/>
		<result column="시작" property="start" javaType="int" />
		<result column="끝" property="limit" javaType="int" />
		<collection property="datas" column="{start=시작, limit=끝, sawonCode=사원코드, range=공유범위, wbsName=WBS이름}" 
					javaType="java.util.ArrayList"
					ofType="WBS" 
					select="selectMyWBS" />
	</resultMap>
	
	<resultMap id="RM_WBS" type="WBS">
		<result column="코드"		property="code" javaType="int"/>
		<result column="이름"		property="name" javaType="string"/>
		<result column="DEFAULT_DAY"  	property="defaultDay" javaType="string" />
		<result column="작성일자"		property="writeDate" javaType="string"/>
		<result column="작성자"		property="writer" javaType="string"/>
		<result column="공유범위"		property="range" javaType="string"/>
		<result column="resources"	property="resources" javaType="string"/>
		<result column="events"		property="events" javaType="string"/>
	</resultMap>
	
	<select id="selectListWBS"  parameterType="map"  resultMap="RM_selectListWBS">
		select (
				select count(T1.코드) 
				  from [동림].[dbo].[WBS] T1
				 inner join [동림].[dbo].[사원] T2
				    on T1.작성자 = T2.사원코드
				 <choose>
				 <when test='range == "D"'>
				 	<choose>
				 	<when test="wbsName != null">
				 	where (작성자 = #{sawonCode} and T1.이름 like '%' + #{wbsName} + '%')
		  	  	       or (작성자 != #{sawonCode} and 공유범위  = 'A' and T1.이름 like #{wbsName} {escape '`'})
		  	  	       <choose>
		  	  	       <when test="myTeam != null and myTeam != ''">
		  	  	       or (작성자 != #{sawonCode} and T2.팀코드 in (
		  	  	    	  select T1.팀코드 
			  			  	from [동림].[dbo].[관리팀] T1
			 			   inner join [동림].[dbo].[관리팀] T2 
			    			  on  T1.사원코드 = T2.사원코드
			 			   inner join [동림].[dbo].[사원] T3 
			    			  on T1.사원코드 = T3.사원코드
			 			   inner join [동림].[dbo].[직급] T4 
			    			  on T3.직급코드 = T4.직급코드
			 			   where T2.팀코드 = #{myTeam} 
			   			     and T1.부서코드 = #{department}
			   			     and T4.직급구별 = 2 
		  	  	           ) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'}) 
		  	  	       </when>
		  	  	       <otherwise>
		  	  	       or (작성자 != #{sawonCode} and T2.팀코드 in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'})
		  	  	       </otherwise>
		  	  	       </choose>
				 	</when>
				 	<otherwise>
				 	where 작성자 = #{sawonCode}
		  	  	       or (작성자 != #{sawonCode} and 공유범위  = 'A')
		  	  	       <choose>
		  	  	       <when test="myTeam != null and myTeam != ''">
		  	  	       or (작성자 != #{sawonCode} and T2.팀코드 in (
		  	  	    	  select T1.팀코드 
			  			  	from [동림].[dbo].[관리팀] T1
			 			   inner join [동림].[dbo].[관리팀] T2 
			    			  on  T1.사원코드 = T2.사원코드
			 			   inner join [동림].[dbo].[사원] T3 
			    			  on T1.사원코드 = T3.사원코드
			 			   inner join [동림].[dbo].[직급] T4 
			    			  on T3.직급코드 = T4.직급코드
			 			   where T2.팀코드 = #{myTeam} 
			   			     and T1.부서코드 = #{department}
			   			     and T4.직급구별 = 2 
		  	  	           ) and 공유범위   = 'T') 
		  	  	       </when>
		  	  	       <otherwise>
		  	  	       or (작성자 != #{sawonCode} and T2.팀코드 in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T')
		  	  	       </otherwise>
		  	  	       </choose>
				 	</otherwise>
				 	</choose>
				 </when>
				 <when test='range == "P"'>
				  where 작성자 = #{sawonCode}
				 <if test="wbsName != null">
		  	  	    and T1.이름 like #{wbsName} {escape '`'}
		  	  	 </if>
				 </when>
				 <when test='range == "T"'>
				 	<choose>
				 	<when test="wbsName != null">
				 		<choose>
		  	  	    	<when test="myTeam != null and myTeam != ''">
		  	  	    where (T2.팀코드 in (
		  	  	    	select T1.팀코드 
			  			  from [동림].[dbo].[관리팀] T1
			 			 inner join [동림].[dbo].[관리팀] T2 
			    			on  T1.사원코드 = T2.사원코드
			 			 inner join [동림].[dbo].[사원] T3 
			    			on T1.사원코드 = T3.사원코드
			 			 inner join [동림].[dbo].[직급] T4 
			    			on T3.직급코드 = T4.직급코드
			 			 where T2.팀코드 = #{myTeam} 
			   			   and T1.부서코드 = #{department}
			   			   and T4.직급구별 = 2 
		  	  	    ) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'})
		  	  	    	</when>
		  	  	    	<otherwise>
		  	  	    where T2.팀코드  in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'}
		  	  	    	</otherwise>
		  	  	    	</choose>
				 	</when>
				 	<otherwise>
				 		<choose>
		  	  	    	<when test="myTeam != null and myTeam != ''">
		  	  	    where (T2.팀코드 in (
		  	  	    	select T1.팀코드 
			  			  from [동림].[dbo].[관리팀] T1
			 			 inner join [동림].[dbo].[관리팀] T2 
			    			on  T1.사원코드 = T2.사원코드
			 			 inner join [동림].[dbo].[사원] T3 
			    			on T1.사원코드 = T3.사원코드
			 			 inner join [동림].[dbo].[직급] T4 
			    			on T3.직급코드 = T4.직급코드
			 			 where T2.팀코드 = #{myTeam} 
			   			   and T1.부서코드 = #{department}
			   			   and T4.직급구별 = 2 
		  	  	    ) and 공유범위   = 'T')
		  	  	    	</when>
		  	  	    	<otherwise>
		  	  	    where T2.팀코드  in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T'
		  	  	    	</otherwise>
		  	  	    	</choose>
				 	</otherwise>
				 	</choose>
				 </when>
				 <when test='range == "A"'>
				 	where 공유범위   = 'A'
				 	<if test="writer != null">
				 	  and T2.사원명 = #{writer}
				 	</if>
				 	<if test="wbsName != null">
		  	  	      and T1.이름 like #{wbsName} {escape '`'}
		  	  	    </if>
				 </when>
				 </choose>
				) 글수, #{sawonCode} 사원코드, #{myTeam} 내팀코드, #{department} 내부서코드, #{range} 공유범위, #{writer} 작성자, #{wbsName} WBS이름, #{start} 시작, #{limit} 끝
	</select>
	
	<select id="selectWBS" parameterType="map" resultMap="RM_WBS">
		select 코드, 이름, DEFAULT_DAY, 작성일자, tb2.사원명 작성자, 공유범위, resources, events
		  from (
		  	select row_number() over(order by 작성일자 desc) rownum, *
		  	  from [동림].[dbo].[WBS] T1
		  	 inner join [동림].[dbo].[사원] T2
				on T1.작성자 = T2.사원코드
		  	 <choose>
			 <when test='range == "D"'>
			 	<choose>
			 	<when test="wbsName != null">
			 	where (작성자 = #{sawonCode} and T1.이름 like #{wbsName} {escape '`'}) 
		  	       or (작성자 != #{sawonCode} and 공유범위  = 'A' and T1.이름 like #{wbsName} {escape '`'})
		  	    	<choose>
		  	    	<when test="myTeamCode != null and myTeamCode != ''">
		  	  	   or (작성자 != #{sawonCode} and T2.팀코드 in (
		  	  			select T1.팀코드 
			  		  	  from [동림].[dbo].[관리팀] T1
			 		 	 inner join [동림].[dbo].[관리팀] T2 
			    			on  T1.사원코드 = T2.사원코드
			 		 	 inner join [동림].[dbo].[사원] T3 
			    			on T1.사원코드 = T3.사원코드
			 		 	 inner join [동림].[dbo].[직급] T4 
			    			on T3.직급코드 = T4.직급코드
			 		 	 where T2.팀코드 = #{myTeamCode} 
			   		   	   and T1.부서코드 = #{myDepartmentCode}
			   		   	   and T4.직급구별 = 2 
		  	  	    	) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'}) 
					</when>
		  	  		<otherwise>
		  	  	   or (작성자 != #{sawonCode} and T2.팀코드 in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'})
		  	  		</otherwise>
		  	  		</choose>
			 	</when>
			 	<otherwise>
			 	where 작성자 = #{sawonCode}
		  	       or (작성자 != #{sawonCode} and 공유범위  = 'A')
		  	    	<choose>
		  	    	<when test="myTeamCode != null and myTeamCode != ''">
		  	  	   or (작성자 != #{sawonCode} and T2.팀코드 in (
		  	  			select T1.팀코드 
			  		  	  from [동림].[dbo].[관리팀] T1
			 		 	 inner join [동림].[dbo].[관리팀] T2 
			    			on  T1.사원코드 = T2.사원코드
			 		 	 inner join [동림].[dbo].[사원] T3 
			    			on T1.사원코드 = T3.사원코드
			 		 	 inner join [동림].[dbo].[직급] T4 
			    			on T3.직급코드 = T4.직급코드
			 		 	 where T2.팀코드 = #{myTeamCode} 
			   		   	   and T1.부서코드 = #{myDepartmentCode}
			   		   	   and T4.직급구별 = 2 
		  	  	    	) and 공유범위   = 'T') 
					</when>
		  	  		<otherwise>
		  	  	   or (작성자 != #{sawonCode} and T2.팀코드 in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T')
		  	  		</otherwise>
		  	  		</choose>
			 	</otherwise>
			 	</choose>
			</when>
			<when test='range == "P"'>
			where 작성자 = #{sawonCode}
			<if test="wbsName != null">
		  	  and T1.이름 like #{wbsName} {escape '`'}
		  	</if>
			</when>
			<when test='range == "T"'>
				<choose>
				<when test="wbsName != null">
					<choose>
		  	  		<when test="myTeamCode != null and myTeamCode != ''">
		  	  	where (T2.팀코드 in (
		  	  	   	select T1.팀코드 
			  		  from [동림].[dbo].[관리팀] T1
			 		 inner join [동림].[dbo].[관리팀] T2 
			    		on  T1.사원코드 = T2.사원코드
			 		 inner join [동림].[dbo].[사원] T3 
			    		on T1.사원코드 = T3.사원코드
			 		 inner join [동림].[dbo].[직급] T4 
			    		on T3.직급코드 = T4.직급코드
			 		 where T2.팀코드 = #{myTeamCode} 
			   		   and T1.부서코드 = #{myDepartmentCode}
			   		   and T4.직급구별 = 2 
		  	  	    ) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'} )
		  	  		</when>
		  	  		<otherwise>
		  	  	where T2.팀코드  in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T' and T1.이름 like #{wbsName} {escape '`'}
		  	  		</otherwise>
		  	  		</choose> 
				</when>
				<otherwise>
					<choose>
		  	  		<when test="myTeamCode != null and myTeamCode != ''">
		  	  	where (T2.팀코드 in (
		  	  	   	select T1.팀코드 
			  		  from [동림].[dbo].[관리팀] T1
			 		 inner join [동림].[dbo].[관리팀] T2 
			    		on  T1.사원코드 = T2.사원코드
			 		 inner join [동림].[dbo].[사원] T3 
			    		on T1.사원코드 = T3.사원코드
			 		 inner join [동림].[dbo].[직급] T4 
			    		on T3.직급코드 = T4.직급코드
			 		 where T2.팀코드 = #{myTeamCode} 
			   		   and T1.부서코드 = #{myDepartmentCode}
			   		   and T4.직급구별 = 2 
		  	  	    ) and 공유범위   = 'T')
		  	  		</when>
		  	  		<otherwise>
		  	  	where T2.팀코드  in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T'
		  	  		</otherwise>
		  	  		</choose> 
				</otherwise>
				</choose>
			</when>
			<when test='range == "A"'>
			where 공유범위   = 'A'
			<if test="writer != null">
			  and T2.사원명 = #{writer}
			</if>
			<if test="wbsName != null">
  	  	      and T1.이름 like #{wbsName} {escape '`'}
  	  	    </if>
			</when>
			</choose>
		  ) tb1
		 inner join [동림].[dbo].[사원] tb2
		    on tb1.작성자 = tb2.사원코드
		 where rownum between (#{start} + 1) and (#{start} + #{limit})
	</select>
	
	<select id="selectListMyWBS"  parameterType="map" resultMap="RM_selectListMyWBS">
		select (
				select count(T1.코드) 
				  from [동림].[dbo].[WBS] T1
				 where T1.작성자 = #{sawonCode}
				 <if test='range != "D"'>
				   and 공유범위 = #{range}
				 </if>
				 <if test="wbsName != null">
				   and 이름 like #{wbsName} {escape '`'}
				 </if>
				) 글수, #{sawonCode} 사원코드, #{range} 공유범위, #{wbsName} WBS이름, #{start} 시작, #{limit} 끝
	</select>
	
	<select id="selectMyWBS" parameterType="map" resultMap="RM_WBS">
		select 코드, 이름, DEFAULT_DAY, 작성일자, tb2.사원명 작성자, 공유범위, resources, events
		  from (
		  	select row_number() over(order by 작성일자 desc) rownum, *
		  	  from [동림].[dbo].[WBS] T1
		  	 inner join [동림].[dbo].[사원] T2
				on T1.작성자 = T2.사원코드
		  	  where 작성자 = #{sawonCode}
		  	  <if test='range != "D"'>
				and 공유범위 = #{range}
			  </if>
			  <if test="wbsName != null">
			    and 이름 like #{wbsName} {escape '`'}
			  </if>
		  ) tb1
		 inner join [동림].[dbo].[사원] tb2
		    on tb1.작성자 = tb2.사원코드
		 where rownum between (#{start} + 1) and (#{start} + #{limit})
	</select>
	
	<update id="updateMyWBS" parameterType="map">
		update [동림].[dbo].[WBS]
		   set 이름 = #{title},
		       DEFAULT_DAY = #{start}, 
		                  공유범위 = #{range}, 
		       resources = #{resources}, 
		       [events] = #{events}
		 where 코드 = #{code}
		   and 작성자 = #{writer}
	</update>
	
	<delete id="deleteMyWBS" parameterType="map">
		delete 
		  from [동림].[dbo].[WBS]
		 where 코드 = #{code}
		   and 작성자 = #{writer} 
	</delete>
<!-- 	<select id="selectListWBS"  parameterType="map"  resultMap="RM_selectListWBS"> -->
<!-- 		select ( -->
<!-- 				select count(T1.코드)  -->
<!-- 				  from [동림].[dbo].[WBS] T1 -->
<!-- 				 inner join [동림].[dbo].[사원] T2 -->
<!-- 				    on T1.작성자 = T2.사원코드 -->
<!-- 		  	  	    <choose> -->
<!-- 		  	  	    <when test="myTeam != null and myTeam != ''"> -->
<!-- 		  	  	    or (작성자 != #{sawonCode} and T2.팀코드 in ( -->
<!-- 		  	  	    	select T1.팀코드  -->
<!-- 			  			  from [동림].[dbo].[관리팀] T1 -->
<!-- 			 			 inner join [동림].[dbo].[관리팀] T2  -->
<!-- 			    			on  T1.사원코드 = T2.사원코드 -->
<!-- 			 			 inner join [동림].[dbo].[사원] T3  -->
<!-- 			    			on T1.사원코드 = T3.사원코드 -->
<!-- 			 			 inner join [동림].[dbo].[직급] T4  -->
<!-- 			    			on T3.직급코드 = T4.직급코드 -->
<!-- 			 			 where T2.팀코드 = #{myTeam}  -->
<!-- 			   			   and T1.부서코드 = #{department} -->
<!-- 			   			   and T4.직급구별 = 2  -->
<!-- 		  	  	    ) and 공유범위   = 'T')  -->
<!-- 		  	  	    </when> -->
<!-- 		  	  	    <otherwise> -->
<!-- 		  	  	    or (작성자 != #{sawonCode} and T2.팀코드 in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T') -->
<!-- 		  	  	    </otherwise> -->
<!-- 		  	  	    </choose> -->
<!-- 				) 글수, #{sawonCode} 작성자코드, #{myTeam} 내팀코드, #{department} 내부서코드, #{start} 시작, #{limit} 끝 -->
<!-- 	</select> -->
	
<!-- 	<select id="selectWBS" parameterType="map" resultMap="RM_WBS"> -->
<!-- 		select 코드, 이름, DEFAULT_DAY, 작성일자, tb2.사원명 작성자, 공유범위, resources, events -->
<!-- 		  from ( -->
<!-- 		  	select row_number() over(order by 작성일자 desc) rownum, * -->
<!-- 		  	  from [동림].[dbo].[WBS] T1 -->
<!-- 		  	 inner join [동림].[dbo].[사원] T2 -->
<!-- 				on T1.작성자 = T2.사원코드 -->
<!-- 		  	  where 작성자 = #{sawonCode} -->
<!-- 		  	  	 or (작성자 != #{sawonCode} and 공유범위  = 'A') -->
<!-- 		  	  	 <choose> -->
<!-- 		  	  	    <when test="myTeamCode != null and myTeamCode != ''"> -->
<!-- 		  	  	    or (작성자 != #{sawonCode} and T2.팀코드 in ( -->
<!-- 		  	  	    	select T1.팀코드  -->
<!-- 			  			  from [동림].[dbo].[관리팀] T1 -->
<!-- 			 			 inner join [동림].[dbo].[관리팀] T2  -->
<!-- 			    			on  T1.사원코드 = T2.사원코드 -->
<!-- 			 			 inner join [동림].[dbo].[사원] T3  -->
<!-- 			    			on T1.사원코드 = T3.사원코드 -->
<!-- 			 			 inner join [동림].[dbo].[직급] T4  -->
<!-- 			    			on T3.직급코드 = T4.직급코드 -->
<!-- 			 			 where T2.팀코드 = #{myTeamCode}  -->
<!-- 			   			   and T1.부서코드 = #{myDepartmentCode} -->
<!-- 			   			   and T4.직급구별 = 2  -->
<!-- 		  	  	    ) and 공유범위   = 'T')  -->
<!-- 		  	  	    </when> -->
<!-- 		  	  	    <otherwise> -->
<!-- 		  	  	    or (작성자 != #{sawonCode} and T2.팀코드 in (select 팀코드 from [동림].[dbo].[관리팀] where 사원코드 = #{sawonCode}) and 공유범위   = 'T') -->
<!-- 		  	  	    </otherwise> -->
<!-- 		  	  	    </choose> -->
<!-- 		  ) tb1 -->
<!-- 		 inner join [동림].[dbo].[사원] tb2 -->
<!-- 		    on tb1.작성자 = tb2.사원코드 -->
<!-- 		 where rownum between (#{start} + 1) and (#{start} + #{limit}) -->
<!-- 	</select> -->
</mapper>
